{% extends 'base.html' %}
{% load bootstrap4 %}

{% block title %}main{% endblock %}

{% block CSS %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'movies/index.css' %}" />
<link href="https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap" rel="stylesheet">
{% endblock %}

{% block body %}
<style>
    /* header {
        border: 2px solid red;
    }
    section {
        border: 2px solid white;
    } */
 
</style>

    <header class="head">
        <h1 class="text-center">Chobab's Project</h1>
        {% include '__nav.html' %}
    </header>
    <body>
        <div class="container">
            <section class="main-section">
                <h1>여기에 추천 알고리즘 박을거야</h1>
                {% for movie in r_movies %}
                <p>{{movie.id}}</p>
                {% endfor %}
                <div class="recommend">
                    <ul>
                      {% for movie in movies %} 
                        <div>
                          <img src="https://image.tmdb.org/t/p/original/{{ movie.poster_path}}" alt="movie-poster" style="width:200px;">
                          <p>{{ movie.title }}</p>
                          <!-- <p>{{ movie.original_title }}</p> -->
                        </div>
                      {% endfor %}
                    </ul>
                </div>
            </section>
            <div class="row">
                <section class="col-8 genres">
                    <h2>여기 영화 장르마다 캐로젤 쓸거야</h2>
                    <!-- 장르별로 영화 구분해서 for문 돌려야 함 -->
                    <div class="col-6 genre">
                      <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
                        <div class="carousel-inner">
                            {% for movie in movies %}
                            {% if forloop.counter0 == 0%}
                            <div class="carousel-item active text-center">
                                <img src="https://image.tmdb.org/t/p/w500/{{ movie.backdrop_path }}" class="d-block w-100" alt="...">
                                <a href="{% url 'movies:movie_detail' movie.id %}" class="text-center text-decoration-none text-dark mt-1">{{ movie.title }}</a>
                            </div>
                            {% else %}
                            <div class="carousel-item text-center">
                                <img src="https://image.tmdb.org/t/p/w500/{{ movie.backdrop_path }}" class="d-block w-100" alt="...">
                                <a href="{% url 'movies:movie_detail' movie.id %}" class="text-center text-decoration-none text-dark mt-1">{{ movie.title }}</a>
                            </div>
                            {% endif %}
                            {% endfor %}
                        </div>
                        <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
                          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                          <span class="sr-only">Previous</span>
                        </a>
                        <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
                          <span class="carousel-control-next-icon" aria-hidden="true"></span>
                          <span class="sr-only">Next</span>
                        </a>
                      </div>
                    </div>
                        
                </section>
                <section class="col-4">
                    <div class="search-bar">
                        <h2>검색</h2>
                        <nav class="navbar navbar-light bg-light">
                            <form class="form-inline">
                              <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                              <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                            </form>
                          </nav>
                    </div>
                    <div class="movie-rank">
                        <h2>영화 평점 순위</h2>
                        <ul class="list-group">
                            <li class="list-group-item active">Cras justo odio</li>
                            <li class="list-group-item">Dapibus ac facilisis in</li>
                            <li class="list-group-item">Morbi leo risus</li>
                            <li class="list-group-item">Porta ac consectetur ac</li>
                            <li class="list-group-item">Vestibulum at eros</li>
                          </ul>
                    </div>
                    <div class="review-rank">
                        <h2>리뷰 좋아요 순위</h2>
                        <ul class="list-group">
                            <li class="list-group-item active">Cras justo odio</li>
                            <li class="list-group-item">Dapibus ac facilisis in</li>
                            <li class="list-group-item">Morbi leo risus</li>
                            <li class="list-group-item">Porta ac consectetur ac</li>
                            <li class="list-group-item">Vestibulum at eros</li>
                          </ul>
                    </div>
                </section>
            </div>
        </div>
    </body>
{% endblock %}