{% extends 'base.html' %}
{% load bootstrap4 %}

{% block title %}mooBeer{% endblock %}

{% block CSS %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'movies/index.css' %}" />
<link href="https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=East+Sea+Dokdo&display=swap" rel="stylesheet">
{% endblock %}

{% block body %}
    <header class="head">
        <div><img src="/static/images/logo.png" alt="logo"></div>
        {% include '__nav.html' %}
    </header>
    <body>
        <div class="container">
            <section class="main-section">
                <h1>바로 취향저격 탕탕탕</h1>
                <div class="wrapper">
                    <ul class="recommend-movies">
                      {% for movie in r_movies %} 
                        <li class="recommend-movie">
                          <div class="recommend-movie-detail">
                            <a href="{% url 'movies:movie_detail' movie.id %}"><img src="https://image.tmdb.org/t/p/original/{{ movie.poster_path}}" alt="movie-poster"></a>
                            <div class="detail-contents">
                              <h2>{{ movie.title }}</h2>
                              <p>{{ movie.original_title }}</p>
                            </div>
                          </div>
                        </li>
                      {% endfor %}
                    </ul>
                </div>
            </section>

            <section class="search-section">
                <form class="form-inline my-2 my-lg-0" action="{% url 'movies:search' %}">
                  <input class="form-control mr-sm-2" type="search" name="search" placeholder="어떤 영화를 찾으시나요?" aria-label="Search" style="width:400px; text-align: center;">
                  <button class="btn btn-info my-2 my-sm-0">검색</button>
                </form>
            </section>
            <div class="row sub-sections">
              <!-- 랭킹 -->
              <!-- <section> -->
                <!-- 영화랭킹 -->
                <div class="review-rank col-4">
                  <h2>최고 인기작</h2>
                  <ul class="list-group">
                      {% for s_movie in s_movies %}
                      <a href="{% url 'movies:movie_detail' s_movie.id %}">
                        <li class="list-group-item rank-item">
                          <div class="review-rank-item">
                            <span class="rank">{{ forloop.counter }}</span>
                            <div class="review-rank-item-details">
                              <span class="review-movie-title">{{ s_movie.original_title }}</span>
                              <span class="review-content">{{ s_movie.title }}</span>
                            </div>
                          </div>
                        </li>
                      </a>
                      {% endfor %}
                  </ul>
                </div>
                <!-- 좋아요 리뷰 랭킹 -->
                <div class="review-rank col-4">
                    <h2>베스트 리뷰</h2>
                    <ul class="list-group">
                        {% for like_review in like_reviews %}
                        <a href="{% url 'movies:review_detail' like_review.id %}">
                        <li class="list-group-item rank-item">
                          <div class="review-rank-item">
                            <span class="rank">{{ forloop.counter }}</span>
                            <div class="review-rank-item-details">
                              <span class="review-movie-title">{{ like_review.movie.title }}</span>
                              <span class="review-content">{{ like_review.content }}</span>
                            </div>
                          </div>
                        </li>
                      </a>
                        {% endfor %}
                    </ul>
                </div>
                <!-- 최신 리뷰 랭킹 -->
                <div class="review-rank col-4">
                  <h2>최신 리뷰</h2>
                  <ul class="list-group">
                      {% for review in reviews %}
                      <a href="{% url 'movies:review_detail' review.id %}">
                      <li class="list-group-item rank-item">
                        <div class="review-rank-item">
                          <span class="rank">{{ forloop.counter }}</span>
                          <div class="review-rank-item-details">
                            <span class="review-movie-title">{{ review.movie.title }}</span>
                            <span class="review-content">{{ review.content }}</span>
                          </div>
                        </div>
                      </li>
                    </a>
                      {% endfor %}
                  </ul>
                </div>
              <!-- </section> -->
            </div>

            <div class="sub-sections">
                <!-- <section class="col-8 genres"> -->
                    <h2>장르별로 골라보는 재미!</h2>
                    <div class="row">
                    {% for g_movie in g_movies %}
                      {% for genre, movies in g_movie.items %}
                      {% if movies %}
                      <div class="col-4 genre-movies">
                        <p class="genre-title">#{{ genre }}</p>
                        
                        <div id="carouselExampleControls{{genre}}" class="carousel slide" data-ride="carousel">
                          <div class="carousel-inner">

                            {% for movie in movies %}    
                                {% if forloop.counter0 == 0%}
                                <div class="carousel-item active text-center">
                                    <a href="{% url 'movies:movie_detail' movie.id %}"><img src="https://image.tmdb.org/t/p/w500/{{ movie.backdrop_path }}" class="d-block w-100" alt="movie-sub-poster"></a>
                                    <div class="carousel-caption d-none d-md-block p-0">
                                      <p>{{ movie.title }}</p>
                                    </div>
                                </div>
                                {% else %}
                                <div class="carousel-item text-center">
                                    <a href="{% url 'movies:movie_detail' movie.id %}"><img src="https://image.tmdb.org/t/p/w500/{{ movie.backdrop_path }}" class="d-block w-100" alt="movie-sub-poster"></a>
                                    <div class="carousel-caption d-none d-md-block p-0">
                                      <p>{{ movie.title }}</p>
                                    </div>
                                </div>
                                {% endif %}
                                {% endfor %}
                          </div>
                          <a class="carousel-control-prev" href="#carouselExampleControls{{genre}}" role="button" data-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="sr-only">Previous</span>
                          </a>
                          <a class="carousel-control-next" href="#carouselExampleControls{{genre}}" role="button" data-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="sr-only">Next</span>
                          </a>
                        </div>
                      </div>
                      {% endif %}
                      {% endfor %}
                    {% endfor %} 
                  </div>     
                <!-- </section> -->
            </div>
        </div>
        {% include '__footer.html' %}
    </body>
{% endblock %}