{% extends 'base.html' %}
{% load bootstrap4 %}
{% load bootstrap_pagination %}

{% block title %}{{ movie.title }}{% endblock %}

{% block CSS %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'movies/detail.css' %}" />
{% endblock %}

{% block body %}
<style>
  header {
    background-image: url('https://image.tmdb.org/t/p/original/{{ movie.backdrop_path }}');
  }
</style>
  <!-- 위 -->
  <header class="d-flex flex-column">
    <nav class="mt-2 px-2">
      <div class="d-flex justify-content-between">
        <a href="{% url 'movies:index' %}"><button class="btn btn-primary">Home</button></a>
        <form class="form-inline my-2 my-lg-0" action="{% url 'movies:search' %}">
          <input class="form-control mr-sm-2" type="search" name="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-info my-2 my-sm-0">Search</button>
        </form>
        {% if able %}
        <a href="{% url 'movies:review_create' movie.pk %}"><button class="btn btn-primary">리뷰작성</button></a>
        {% endif %}
    </nav>
    <div class="header-bottom">
      <div class="mt-auto">
        <div class="details">
          <div class="buttons">
            {% if movie.adult%}
              <span class="R-rated">청소년관람불가</span>
            {% else %}
              <span class="G-rated">전체관람가</span>
            {% endif %}
            <span class="language">{{ movie.original_language }}</span>
          </div>
        </div>
        <div class="titles">
          <h1>{{ movie.title }}</h1>
          <h3>{{ movie.original_title }}</h3>
        </div>
        <p>{{ movie.release_date }}</p>
      </div>
    </div>
  </header>

  <!-- 아래 -->
  <div class="container">
    <div class="row">
      <section class="col-6">
        <div class="movie-info">
          <h2>줄거리</h2>
          <p class="movie-overview">{{ movie.overview }}</p>
          <div class="movie-genres">
            <p>영화장르</p>
            {% for genre in movie.genres.all %}
              <span class="movie-genre">{{ genre.name }}</span>
            {% endfor %}
          </div>
        </div>

        <div class="recommend-movies">
          <h2>같은 장르 TOP3</h2>
            <div class="recommend-movie-list row">
              {% for same_genre in same_genres %}
              <div class="recommend-movie col-4">
                <a href="{% url 'movies:movie_detail' same_genre.id %}"><img src="https://image.tmdb.org/t/p/original/{{ same_genre.poster_path}}" alt="movie-poster" style="width:100%;"></a>
                <p class="text-center">{{same_genre.title}}</p>
              </div>
              {% endfor %}
            </div>
        </div>
      </section>

      <section class="col-6">
        <div class="trailer">
          <h2>예고편</h2>
          <!-- <iframe id="encoder_iframe" height=400px; width="100%" src="{{ videoUrl }}" class="movie-trailer"></iframe> -->
        </div>

        <div class="review-list-container">
          <h2>리뷰/평점</h2>
          <p>*제목을 클릭하시면 해당 리뷰로 이동합니다.</p>
          
          <div class="review-list">
            <table class="table">
              <thead>
                <tr>
                  <th scope="col"></th>
                  <th scope="col">점수</th>
                  <th scope="col">감상평</th>
                  <th scope="col">작성자</th>
                </tr>
              </thead>
              
              {% for review in page_obj %}
                  <tbody>
                    <tr>
                      {% if forloop.first %}
                        <td scope="row"><span class="best-review">BEST</span></td>
                      {% else %}
                        <td scope="row">{{ forloop.counter0 }}</td>
                      {% endif %}
                      
                      <th scope="row">{{ review.score }}</th>
                      <th scope="row" class="review-content"><a href ="{% url 'movies:review_detail' review.pk %}">{{ review.content }}</a></th>
                      <th scope="row">{{ review.user.username }}</th>
                    </tr>
                  </tbody>
              {% endfor %}
            </table>
            {% bootstrap_paginate page_obj range=5 show_prev_next="false" show_first_last="true" %}
          </div>
        </div>
      </section>
    </div>
  </div>

{% endblock %}