{% extends 'base.html' %}
{% load bootstrap4 %}

{% block title %}review_create{% endblock %}

{% block body %}
<style>
    .wrapper {
      min-height: 100vh;
      background-image: url('https://image.tmdb.org/t/p/original/{{ movie.backdrop_path }}');
      background-position: center;
      background-size: cover;
      color: #fff;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }

    .wrapper h1 {
        text-align: center;
    }

    .wrapper form {
        width: 550px;
        margin: 0 auto;
    }

</style>
<div class="wrapper">
    <div class="review-create-form">
    <h1>{{ movie.title }}</h1>
    <form action="" method="POST">
        {% csrf_token %}
        {% bootstrap_form form%}
        <button class="btn btn-primary text-center" style="width:100%">sumit</button>
    </form>
    </div>
</div>
{% endblock %}