{% extends 'base.html' %}
{% load bootstrap4 %}
{% block title %}review_create{% endblock %}

{% block CSS %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'movies/review_create.css' %}" />
{% endblock %}

{% block body %}
<style>
    .wrapper {
      background-image: url('https://image.tmdb.org/t/p/original/{{ movie.backdrop_path }}');
    }

    .home-btn {
        position: absolute;
        top: 1rem;
        left: 0.5rem;
    }

</style>
<div class="wrapper">
    <a href="{% url 'movies:movie_detail' movie.id %}"><button class="btn btn-primary home-btn">Back</button></a>
    <div class="review-create-form">
        <h1>{{ movie.title }}</h1>
        <form action="" method="POST">
            {% csrf_token %}
            {% bootstrap_form form%}
            <button class="btn btn-primary text-center" style="width:100%">sumit</button>
        </form>
    </div>
</div>
{% endblock %}