{% extends 'base.html' %}
{% load bootstrap4 %}
{% load bootstrap_pagination %}

{% block title %}{{ review.movie.title }} review{% endblock %}

{% block CSS %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'movies/review_detail.css' %}" />
{% endblock %}

{% block body %}
<style>
  header {
    background-image: url('https://image.tmdb.org/t/p/original/{{ review.movie.backdrop_path }}');
  }
</style>

  <header class="d-flex flex-column">
    <nav class="mt-2 px-2">
      <div class="d-flex justify-content-between">
        <a href="{% url 'movies:index' %}"><button class="btn btn-primary">Home</button></a>
        <form class="form-inline my-2 my-lg-0" action="{% url 'movies:search' %}">
          <input class="form-control mr-sm-2" type="search" name="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-info my-2 my-sm-0">Search</button>
        </form>
        <a href="{% url 'movies:movie_detail' review.movie.id %}"><button class="btn btn-primary">영화로</button></a>
      </div>
    </nav>
    
  </header>

  
  <section>
    <div class="container">
      <div class="row">
        <div class="review col-7">
          <div class="review-title">
            <h1>{{ review.movie.title }}</h1>
            <h2>{{ review.movie.original_title }}</h2>
          </div>
          <div class="review-details">
            
            <div class="review-detail">
              <span class="username">{{ review.user.username }}</span>           
              <p class="created_date">{{ review.created_at }} 작성</p>
            </div> 
          </div>
          
          <div class="review-contents">
            <div class="review-scores">
              <p><span class="movie-score">영화평점</span> {{ review.score }}점</p>
              <div class="reivew-like">
                {% if request.user != review.user %}
                {% with review_like_users=review.like_users.all %}
                  {% if request.user.is_authenticated %}
                    {% if request.user in review_like_users %}
                      <i data-id="{{review.pk}}" class="fas fa-heart fa-lg like-button" style="color:crimson; cursor: pointer;"></i>
                    {% else %}
                      <i data-id="{{review.pk}}" class="fas fa-heart fa-lg like-button" style="color: grey; cursor: pointer;"></i>
                    {% endif %}
                  {% else %}
                    <i class="fas fa-heart fa-lg" style="color:crimson;"></i>
                  {% endif %}
                <span id="like-count-{{review.pk}}">{{ review_like_users|length }}</span>
                {% endwith %}
                {% endif %}
              </div>
            </div>
            <p class="review-content">{{ review.content }}</p>
            <div class="UD-buttons">
              {% if request.user == review.user %}
                  <form action="{% url 'movies:review_delete' review.pk %}" method='POST'>
                      {% csrf_token %}
                      <button class="btn btn-danger mr-2">삭제</button>
                  </form>
                  <a href="{% url 'movies:review_update' review.pk %}" class="btn btn-warning">수정</a>
              {% endif %}
            </div>
          </div>
         
          
          
        </div>

        <div class="other-reviews col-5">
          <h2>{{ review.user.username }}님의 다른 리뷰</h2>
          <div class="review-list">
            <table class="table">
              <thead>
                <tr>
                  <th scope="col"></th>
                  <th scope="col">평점</th>
                  <th scope="col">영화</th>
                  <!-- <th scope="col">작성일</th> -->
                </tr>
              </thead>
              {% for review in page_obj %}
                  <tbody>
                    <tr>
                      <td scope="row">{{ forloop.counter }}</td>
                      <th scope="row">{{ review.score }}</th>
                      <th scope="row" class="other-review-content"><a href ="{% url 'movies:review_detail' review.pk %}">{{ review.movie.title }}</a></th>
                      <!-- <th scope="row">{{ review.created_at }}</th> -->
                    </tr>
                  </tbody>
              {% endfor %}
            </table>
            {% bootstrap_paginate page_obj range=5 show_prev_next="false" show_first_last="true" %}
          </div>
        </div>
      </div>
    </div>
    {% include '__footer.html' %}
  </section>
  
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <script>
    Button = document.querySelectorAll('.like-button')
    Button.forEach(function(likeButton) {
      likeButton.addEventListener('click', function(event) {
        const reviewId = event.target.dataset.id
        axios.get(`/${reviewId}/like/`)
        .then( response => {
          if (response.data.success) {
            event.target.style.color = 'crimson'
          } else {
            event.target.style.color = 'grey'
          }
          document.querySelector(`#like-count-${reviewId}`).innerText = response.data.count
        })
        .catch(error=> {console.log(response)})
      })
    })
  </script>
{% endblock %}