{% extends 'base.html' %}
{% load bootstrap4 %}

{% block title %}main{% endblock %}

{% block CSS %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'movies/search.css' %}" />
<link href="https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap" rel="stylesheet">
{% endblock %}

{% block body %}
    <header class="head">
        <h1 class="text-center">Chobab's Project</h1>
        {% include '__nav.html' %}
    </header>
    <body>
            <section class="search-section">
                <form class="form-inline my-2 my-lg-0" action="{% url 'movies:search' %}">
                  <input class="form-control mr-sm-2" type="search" name="search" placeholder="What are you looking for?" aria-label="Search" style="width:400px; text-align: center;">
                  <button class="btn btn-outline-info my-2 my-sm-0">Search</button>
                </form>
            </section>
            <div class="container">
                <!-- 여기에 검색된 영화들 나열하면 될 듯 -->
                <h3>{{ search }} 로 검색한 결과입니다.</h3>
                <div class="search-result row">
                    <div class="in-title col-6">
                        {% for movie_title in movies_title %}
                            {% if movie_title %}
                                <p>{{ movie_title.title }}</p>
                            {% else %}
                                <p>그런거는 없어</p>
                            {% endif %}
                        {% endfor %}
                    </div> 
                    
                    <div class="in-content col-6">
                        {% for movie_overview in movies_overview %}
                            {% if movie_overview %}
                                <p>{{ movie_overview.title }}</p>
                            {% else %}
                                <p>그런거는 없어</p>
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </body>
{% endblock %}