{% extends 'base.html' %}
{% load bootstrap4 %}

{% block title %}main{% endblock %}

{% block CSS %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'movies/search.css' %}" />
<link href="https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap" rel="stylesheet">
{% endblock %}

{% block body %}
    <header class="head">
        <h1 class="text-center">Chobab's Project</h1>
        {% include '__nav.html' %}
    </header>
    <body>
            <section class="search-section">
                <form class="form-inline my-2 my-lg-0" action="{% url 'movies:search' %}">
                  <input class="form-control mr-sm-2" type="search" name="search" placeholder="What are you looking for?" aria-label="Search" style="width:400px; text-align: center;">
                  <button class="btn btn-outline-info my-2 my-sm-0">Search</button>
                </form>
            </section>
            <div class="container">
                <div class="target">
                    <h3><span>{{ search }}</span> (으)로 검색한 결과입니다.</h3>
                </div>
                <div class="search-result row">
                    <div class="in-title col-6">
                        {% if movies_title %}
                        <h3>* 제목에 <span>{{ search }}</span> 가 포함된 영화가 <span>{{ movies_title|length }}</span> 개 검색되었습니다.</h5>
                            <div class="row">
                            {% for movie_title in movies_title %}
                                <div class="search-movie col-4">
                                    <a href="{% url 'movies:movie_detail' movie_title.id %}"><img src="https://image.tmdb.org/t/p/original/{{ movie_title.poster_path}}" alt="" style="width:100%;"></a>
                                    <p>{{ movie_title.title }}</p>
                                </div>
                            {% endfor %}
                            </div>
                            {% else %}
                            <p>* 제목에 <span>{{ search }}</span> 가 포함된 영화가 존재하지 않습니다.</p>
                        {% endif %}
                        
                    </div> 
                    
                    <div class="in-content col-6">
                        {% if movies_overview %}
                        <h3>* 내용에 <span>{{ search }}</span> 가 포함된 영화가 <span>{{ movies_overview|length }}</span> 개 검색되었습니다.</h5>
                            <div class="row">
                            {% for movie_overview in movies_overview %}
                                <div class="search-movie col-4">
                                    <a href="{% url 'movies:movie_detail' movie_overview.id %}"><img src="https://image.tmdb.org/t/p/original/{{ movie_overview.poster_path}}" alt="" style="width:100%;"></a>
                                    <p>{{ movie_overview.title }}</p>
                                </div>
                            {% endfor %}
                            </div>
                            {% else %}
                            <p>* 내용에 <span>{{ search }}</span> 가 포함된 영화가 존재하지 않습니다.</p>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </body>
{% endblock %}