{% extends 'base.html' %}
{% load bootstrap4 %}

{% block title %}main{% endblock %}

{% block CSS %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'movies/index.css' %}" />
<link href="https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=East+Sea+Dokdo&display=swap" rel="stylesheet">
{% endblock %}

{% block body %}
    <header class="head">
        <h1 class="text-center">Chobab's Project</h1>
        {% include '__nav.html' %}
    </header>
    <body>
            <section class="search-section">
                <form class="form-inline my-2 my-lg-0" action="{% url 'movies:search' %}">
                  <input class="form-control mr-sm-2" type="search" name="search" placeholder="What are you looking for?" aria-label="Search" style="width:400px; text-align: center;">
                  <button class="btn btn-outline-info my-2 my-sm-0">Search</button>
                </form>
            </section>

            <!-- 여기에 검색된 영화들 나열하면 될 듯 -->
            {% for movie in movies%}
            <p>{{ movie.title }}</p>
            {% endfor %}
        </div>
    </body>
{% endblock %}