body {
    background-color: rgb(26, 25, 25);
    color: #999;
    font-family: 'Roboto', sans-serif;
}

/* 초기화 */
body, h1, h2, h3, ul, p, input {
    margin: 0;
    padding: 0;
}

li {
    list-style-type: none;
}

h1, h2, h3 {
    font-size: 100%;
    font-weight: normal;
}

/* 로고 */
header h1 {
    font-size: 3rem;
    line-height: 2;
    font-style: italic;
    font-family: 'Permanent Marker', cursive;
    margin-top: 100px;
    margin-bottom: 50px;
}

/* recommend-movie-section */
.main-section {
    height: 350px;
    margin: 50px 0;
}

.main-section h1 {
    font-size: 2rem;
    text-align: center;
    margin-bottom: 20px;
    font-family: 'Permanent Marker', cursive;
    color: darkcyan;
}

.main-section .wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.recommend-movies {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2%;
}

.recommend-movie {
    flex-basis: 200px;
    flex-shrink: 0;
    margin: 0 5px;
    transition: all .4s;
}

.recommend-movie:hover {
    flex-basis: 250px;
    margin: 0 10px;
}

.recommend-movie img {
    width: 100%;
    border-radius: 10px;
}

.recommend-movie-detail {
    background-color: #333;
    position: relative;
}

.recommend-movie-detail:hover .detail-contents p {
    max-height: 200px;

}

.recommend-movie-detail:before {
    content: ' ';
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 140px;
    background: rgb(215,215,215);
    background: linear-gradient(180deg, rgba(215,215,215,0) 0%, rgba(34,34,34,1) 100%);
}

.detail-contents {
    position: absolute;
    left: 0;
    bottom: 0;
    padding: 4%;
    color: white;
}

.detail-contents p {
    min-width: 140px;
    max-height: 0;
    overflow: hidden;
}

.detail-contents h2 {
    font-size: 1.5rem;
    font-weight: bold;
}

.detail-contents h2 span {
    display: block;
    font-size: 1rem;
}

/* 검색 */
.search-section {
    display: flex;
    justify-content: center;
    margin-top: 12%;
    margin-bottom: 0;
}

/* 아래 */
.sub-sections h2 {
    font-size: 40px;
    line-height: 2;
    /* font-style: italic; */
    font-family: 'East Sea Dokdo', cursive;
    color: darkcyan;
}

.sub-sections {
    margin-top: 100px;
}

.genres {
    width: 100%;
    height: 600px;
}

.genre-movies {
    box-sizing: border-box;
    height: 100%;
}

.rank {
    font-size: 1rem;
    font-weight: bold;
    margin-right: 10px;
}

.rank-item:hover {
    background-color: #999;
    color: white;
}