{% extends 'base.html' %}
{% load bootstrap4 %}

{% block title %}login{% endblock %}

{% block body %}
<style>
    .wrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        min-height: 100vh;
    }
</style>

<div class="wrapper">
    <h1>Login</h1>
    <form action="" method="POST" style="width:400px">
        {% csrf_token %}
        {% bootstrap_form form%}
        <button class="btn btn-primary text-center" style="width:100%">sumit</button>
    </form>
    <div>
        <p>아이디가 없으신가요?</p>
        <a href="{% url 'accounts:signup' %}"><button>signup</button></a>
    </div>
    <div>
        <p>여기 allauth 만들기 / naver, google</p>
    </div>
</div>
{% endblock %}