{% extends 'base.html' %}
{% load bootstrap4 %}

{% block title %}signup{% endblock %}

{% block body %}
<style>
    .wrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        min-height: 100vh;
    }
</style>

<div class="wrapper">
    <h1>signup</h1>
    <form action="" method="POST" style="width:400px">
        {% csrf_token %}
        {% bootstrap_form form%}
        <button class="btn btn-primary text-center" style="width:100%">sumit</button>
    </form>
</div>
{% endblock %}